<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <title>登录</title>
        <link rel="short icon" href="../upload/logo2.jpg">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div class="container">
            <form action="/login/doLogin" method="post">
                <h2>用户登录</h2>
                <input type="text" name="name" id="UserName" placeholder="UserName">
                <input type="password" name="password" id="PassWord" placeholder="PassWord">
                <input type="submit" value="Login" id="Login">
            </form>
        </div>
    </body>
</html>