<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>平台风采</title>
    <link rel="short icon" href="../upload/logo2.jpg">
    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/public/header.css">
    <link rel="stylesheet" href="/css/public/prolist.css">
    <link rel="stylesheet" href="/css/product.css">

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <style>
        article{
            margin: 20px;
        }
        h3{
            color: #ff0000;
            font-size: 24px;
            border-bottom: 1px solid #dddddd;
            padding-bottom: 10px;
        }
        article p{
            color: #060000;
            font-size: 14px;
            text-indent: 2em;
            line-height: 2em;
        }
    </style>
</head>
<body>
<%- include public/header.html %>
<article>
    <h3 id="title">商场简介</h3>
    <p>117百货集团，始建于1982年，系国家商务部“万村千乡工程”承办单位、烟台市十大零售企业、烟台市双五零工程企业、烟台市骨干明星企业、招远市千亿工程单位。集团辖设招远市金百置业有限公司、招远市金百物流有限公司、招远市金泉食品有限公司、招远市居家养老服务呼叫中心、烟台金源农副产品有限公司、烟台金都家政服务有限公司、烟台金都物业管理有限公司、招远市飞鸿商贸有限公司、山东金都商业技工学校、招远金都老年人日间照料中心等子公司。</p>
    <p>其母公司山东金都百货股份有限公司拥有1个购物中心、1个综合商厦、近30家连锁超市、400多家农家店。多年来，公司始终坚持科学的发展观，开拓创新、与时俱进，取得了令人瞩目的发展业绩，公司经营面积达到10万多平方米，注册资本5000万元，拥有员工2100余人，利税、财政贡献等各项经济指标连续多年位居招远市同行业之首。目前，金百集团已经形成了一个以零售业为主，横跨房地产、物流、肉食加工、家政服务业、现代农业、教育、餐饮业等众多行业的集团公司</p>
</article>
<footer>
    <%- include public/prolist.html %>
</footer>
</body>
<html>