<header class="public-header">
    <ul class="content">
        <li class="content-item">
            <img src="../upload/logo1.jpg" height="30" alt="">
            <!--<link rel="short icon" href="Resource/icon.png">-->
        </li>
        <li class="content-item">
            <a href="">商品管理</a>
        </li>
        <!--<li class="content-item">-->
            <!--<a href="">文件管理</a>-->
        <!--</li>-->
        <!--<li class="content-item">-->
            <!--<a href="">系统管理</a>-->
        <!--</li>-->
    </ul>
    <!--<ul class="content">-->
        <!--<li class="content-item">-->
            <!--<a href="">欢迎你,admin</a>-->
        <!--</li>-->
        <!--<li class="content-item">-->
            <!--<a href="http://127.0.0.1:3000">安全退出</a>-->
        <!--</li>-->
    <!--</ul>-->
</header>